.rubik-0 { font-size: 0px; font-family: 'rubik'; }


.rubik-1 { font-size: 1px; font-family: 'rubik'; }


.rubik-2 { font-size: 2px; font-family: 'rubik'; }


.rubik-3 { font-size: 3px; font-family: 'rubik'; }


.rubik-4 { font-size: 4px; font-family: 'rubik'; }


.rubik-5 { font-size: 5px; font-family: 'rubik'; }


.rubik-6 { font-size: 6px; font-family: 'rubik'; }


.rubik-7 { font-size: 7px; font-family: 'rubik'; }


.rubik-8 { font-size: 8px; font-family: 'rubik'; }


.rubik-9 { font-size: 9px; font-family: 'rubik'; }


.rubik-10 { font-size: 10px; font-family: 'rubik'; }


.rubik-11 { font-size: 11px; font-family: 'rubik'; }


.rubik-12 { font-size: 12px; font-family: 'rubik'; }


.rubik-13 { font-size: 13px; font-family: 'rubik'; }


.rubik-14 { font-size: 14px; font-family: 'rubik'; }


.rubik-15 { font-size: 15px; font-family: 'rubik'; }


.rubik-16 { font-size: 16px; font-family: 'rubik'; }


.rubik-17 { font-size: 17px; font-family: 'rubik'; }


.rubik-18 { font-size: 18px; font-family: 'rubik'; }


.rubik-19 { font-size: 19px; font-family: 'rubik'; }


.rubik-20 { font-size: 20px; font-family: 'rubik'; }


.rubik-21 { font-size: 21px; font-family: 'rubik'; }


.rubik-22 { font-size: 22px; font-family: 'rubik'; }


.rubik-23 { font-size: 23px; font-family: 'rubik'; }


.rubik-24 { font-size: 24px; font-family: 'rubik'; }


.rubik-25 { font-size: 25px; font-family: 'rubik'; }


.rubik-26 { font-size: 26px; font-family: 'rubik'; }


.rubik-27 { font-size: 27px; font-family: 'rubik'; }


.rubik-28 { font-size: 28px; font-family: 'rubik'; }


.rubik-29 { font-size: 29px; font-family: 'rubik'; }


.rubik-30 { font-size: 30px; font-family: 'rubik'; }


.rubik-31 { font-size: 31px; font-family: 'rubik'; }


.rubik-32 { font-size: 32px; font-family: 'rubik'; }


.rubik-33 { font-size: 33px; font-family: 'rubik'; }


.rubik-34 { font-size: 34px; font-family: 'rubik'; }


.rubik-35 { font-size: 35px; font-family: 'rubik'; }


.rubik-36 { font-size: 36px; font-family: 'rubik'; }


.rubik-37 { font-size: 37px; font-family: 'rubik'; }


.rubik-38 { font-size: 38px; font-family: 'rubik'; }


.rubik-39 { font-size: 39px; font-family: 'rubik'; }


.rubik-40 { font-size: 40px; font-family: 'rubik'; }


.rubik-41 { font-size: 41px; font-family: 'rubik'; }


.rubik-42 { font-size: 42px; font-family: 'rubik'; }


.rubik-43 { font-size: 43px; font-family: 'rubik'; }


.rubik-44 { font-size: 44px; font-family: 'rubik'; }


.rubik-45 { font-size: 45px; font-family: 'rubik'; }


.rubik-46 { font-size: 46px; font-family: 'rubik'; }


.rubik-47 { font-size: 47px; font-family: 'rubik'; }


.rubik-48 { font-size: 48px; font-family: 'rubik'; }


.rubik-49 { font-size: 49px; font-family: 'rubik'; }

.mb-0 { margin-bottom: 0px }


.mb-1 { margin-bottom: 1px }


.mb-2 { margin-bottom: 2px }


.mb-3 { margin-bottom: 3px }


.mb-4 { margin-bottom: 4px }


.mb-5 { margin-bottom: 5px }


.mb-6 { margin-bottom: 6px }


.mb-7 { margin-bottom: 7px }


.mb-8 { margin-bottom: 8px }


.mb-9 { margin-bottom: 9px }


.mb-10 { margin-bottom: 10px }


.mb-11 { margin-bottom: 11px }


.mb-12 { margin-bottom: 12px }


.mb-13 { margin-bottom: 13px }


.mb-14 { margin-bottom: 14px }


.mb-15 { margin-bottom: 15px }


.mb-16 { margin-bottom: 16px }


.mb-17 { margin-bottom: 17px }


.mb-18 { margin-bottom: 18px }


.mb-19 { margin-bottom: 19px }


.mb-20 { margin-bottom: 20px }


.mb-21 { margin-bottom: 21px }


.mb-22 { margin-bottom: 22px }


.mb-23 { margin-bottom: 23px }


.mb-24 { margin-bottom: 24px }