/* Region Fonts */
@font-face {
    font-family: "rubik";
    src: url("../fonts/static/Rubik-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "rubik";
    src: url("../fonts/static/Rubik-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "rubik";
    src: url("../fonts/static/Rubik-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "rubik";
    src: url("../fonts/static/Rubik-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "rubik";
    src: url("../fonts/static/Rubik-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

/* Global Css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}
body {
    margin: 0 auto;
} 
html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}


/* Color */

:root {
    --bg-blue-1: #53A7E9;
    --bg-blue-2: #4097DB;
    --bg-blue-3: #1BA0E1;
    --bg-blue-4: #029FE4;
    --bg-blue-dark-1: #08385F;
    --bg-blue-dark-2: #07477A;
    --bg-blue-dark-3: #14619D;
    --bg-white-calm: #F8F8F8;
    --font-blue-1: #53A7E9;
    --font-blue-2: #4097DB;
    --font-blue-3: #1BA0E1;
    --font-blue-4: #029FE4;
    --font-blue-dark-1: #08385F;
    --font-blue-dark-2: #07477A;
    --font-blue-dark-3: #14619D;

    --font-dark: rgba(170, 169, 169, 0);
    --font-gray: #777777;
}

.font-blue {
    color: var(--bg-blue-4) !important;
}
.font-darks {
    color: black !important;
}
.font-light {
    color: #fff !important;
}
.font-gray {
    color: gray !important;
}
.font-gray {
    color: var(--font-gray) !important;
}
.font-medium {
    font-weight: 500 !important;
}
.font-semi-bold {
    font-weight: 600 !important;
}
.font-w-light {
    font-weight: 300 !important;
}
.text-title {
    font-family: 'rubik';
    font-weight: 500;
    font-size: 36px;
    color: #fff;
}
.text-title-md {
    font-family: 'rubik';
    font-weight: 400;
    font-size: 24px;
}
.text-title-sm {
    font-family: 'rubik';
    font-weight: 400;
    font-size: 18px;
}
.text-content {
    font-family: 'rubik';
    font-weight: normal;
    color: #fff;
    font-size: 16px;
    line-height: 25px;
}
.text-accordion-title {
    font-family: 'rubik';
    font-weight: 700;
    color: #00537C;
    font-size: 14px;
}
.text-accordion-content {
    font-family: 'rubik';
    font-weight: normal;
    color: #25A0D8;
    font-size: 14px;
}
.text-footer-link {
    font-family: 'rubik';
    font-weight: normal;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.cursor-pointer {
    cursor: pointer !important;
}


.container-page {
    max-width: 992px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    position: relative;
}
.wrapper-content {
    width: 88%;
    margin: 0 auto !important;
}
.nav-menus-item-desktop {
    display: none;
}
.nav-menus-item {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: -100vw;
    transition: all .3s ease-in-out;
}
.close-nav-menu {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    padding: 0 16px;
    
}
nav {
    background: rgb(255, 255, 255);
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 10000;
}
.navbar {
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #fff;
}
.burger-nav {
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}
.burger-line {
    width: 20px;
    height: 3px;
    background: var(--font-blue-dark-1);
    position: relative;
}
.burger-line::before {
    content: '';
    width: 100%;
    height: 100%;
    background: var(--font-blue-dark-1);
    position: absolute;
    top: 6px;
}
.burger-line::after {
    content: '';
    width: 100%;
    height: 100%;
    background: var(--font-blue-dark-1);
    position: absolute;
    top: -6px;
}

.hero-banner {
    width: 100%;
    height: 500px;
    background-image: url('../img/headerBgSm.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    position: relative;
    z-index: 10;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 70px;
}
.hero-banner::before {
    content: '';
    width: 100%;
    height: 70%;
    background: var(--font-blue-2);
    clip-path: polygon(0 0, 100% 21%, 100% 100%, 0% 100%);
    position: absolute;
    bottom: 0;
    z-index: 1;
    left: 0;
}
.hero-banner::after {
    content: '';
    width: 100%;
    height: 70%;
    background: var(--font-blue-1);
    clip-path: polygon(0 26%, 100% 0, 100% 100%, 0% 100%);
    position: absolute;
    bottom: 0;
    right: 0;
}

.text-hero-area {
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.layer-gradient {
    width: 100%;
    height: 80%;
    background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    position: absolute;
    bottom: 0;
}
.about-us {
    padding: 48px 0;
}

.wrapper-nav-btn-slider {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slider-single {
    display: none;
}
/* Fading animation */
.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}
.slideLeft {
    -webkit-animation-name: slideLeft;
    -webkit-animation-duration: 1.5s;
    animation-name: slideLeft;
    animation-duration: 1.5s;
    }

@-webkit-keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

@keyframes slideLeft {
from {
    transform: translateX(100%);
}
to {
    transform: translateX(0);
}
}

.slider-wrapper {
    overflow: hidden;
}
.slider-nav-count {
    display: flex;
    align-items: center;
    gap: 5px;
}


.slider-btn {
    display: flex;
    align-items: center;
}
.btn-wrap {
    width: 50px;
    height: 46px;
    display: flex;
    background: #1BA0E1;
    justify-content: center;
    align-items: center;
}
.btn-disabled {
    background: #F1F1F1 !important;
}

.about-us-bottom {
    width: 100%;
    background: var(--bg-white-calm);
    overflow: hidden;
}
.style-about-us-bottom {
    padding: 57px 0 0 0 !important;
}

.row-about-value {
    width: 100%;
    display: flex;
}
.divider-style {
    width: 26px;
    height: 2px;
    background-color: black;
    margin-top: 10px;
}
.img-about {
    align-items: flex-end;
    overflow: visible;
}
.img-about > img {
    width: 320px;
    margin-top: 30px;
    margin-right: -80px
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    z-index: 3;
}
.col {
    display: flex;
    flex: 1;
    flex-direction: column;
}

footer {
    width: 100%;
    padding: 50px 0 125px 0;
    background: var(--bg-blue-dark-1);
    position: relative;
}
footer::before {
    content: '';
    width: 100%;
    height: 40%;
    background: var(--bg-blue-dark-2);
    clip-path: polygon(0 1%, 100% 70%, 100% 100%, 0% 100%);
    position: absolute;
    bottom: 0;
    z-index: 1;
    left: 0;
}
footer::after {
    content: '';
    width: 100%;
    height: 40%;
    background: var(--bg-blue-dark-3);
    clip-path: polygon(0 81%, 100% 15%, 100% 100%, 0% 100%);
    position: absolute;
    bottom: 0;
    z-index: 1;
    left: 0;
}
.logo-footer > img {
    width: 228px;
    height: 45px;
}

.wrapper-footer-accordion {
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.accordion {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 8px 17px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 10px;
}

.accordion-content {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.desktop { display: none; }

.about-3 {
    width: 100%;
    background: #509FDD;
    padding:20px;
}
.container-about-3 {
    width: 100%;
    padding: 42px 33px;
    background: white;
}

.icon-slider {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
}
.icon-slider::before {
    content: '';
    position: absolute;
    left: 0;
    height: 0;
    width: 70px;
    height: 100%;
    background: linear-gradient(to right, white, rgba(0,0,0,0));
}
.icon-slider::after {
    content: '';
    position: absolute;
    width: 70px;
    right: 0;
    top: 0;
    height: 100%;
    background: linear-gradient(to left, white, rgba(0,0,0,0));
}
.icon-slider > img:nth-child(1) {
    width: 100px;
    margin-left: -40px;
}
.icon-slider > img:nth-child(3) {
    width: 100px;
    margin-right: -40px;
}

.slider-navigation-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}
.slider-navigation-group > div > i {
    font-size: 29px;
    color: #3D46A2;
}
.nav-dot-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}
.dot {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: #DAF3FC;
}
.dot-active {
    border: 2px solid #3D46A2;
}

@media (min-width: 992px) {
    .nav-menus-item-desktop {
       display: flex;
       align-items: center;
    }
    .nav-menus-item  {
        display: none;
    }
    .burger-nav {
        display: none;
    }
    .desktop { display: flex !important; }
    .wrapper-content {
        width: 992px;
        margin: 0 auto !important;
    }
    .container-page {
        max-width: 1920px;
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        position: relative;
    }
    .hero-banner {
        width: 100%;
        height: 600px;
        background-image: url('../img/headerBg.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-bottom: 70px;
    }
    .hero-banner::before {
        content: '';
        width: 100%;
        height: 80%;
        background: var(--font-blue-2);
        clip-path: polygon(0 33%, 100% 63%, 100% 100%, 0% 100%);
        position: absolute;
        bottom: 0;
        z-index: 1;
        left: 0;
    }
    .hero-banner::after {
        content: '';
        width: 100%;
        height: 80%;
        background: var(--font-blue-1);
        clip-path: polygon(0 75%, 100% 31%, 100% 100%, 0% 100%);
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .text-hero-area {
        position: relative;
        z-index: 100;
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 16px;
        transform: translateY(-80px);
    }
    .about-us-bottom {
        width: 100%;
        background: var(--bg-white-calm);
    }
    .style-about-us-bottom {
        padding: 57px 0 !important;
    }
    
    .row-about-value {
        width: 100%;
        display: flex;
    }
    .divider-style {
        width: 26px;
        height: 2px;
        background-color: black;
        margin-top: 10px;
    }
    .img-about {
        align-items: flex-end;
    }
    .img-about > img {
        width: 400px;
        height: 500px;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .col {
        display: flex;
        flex: 1;
        flex-direction: column;
    }
}